body {
  background: rgb(17, 34, 102);
  background: -moz-linear-gradient(
    156deg,
    rgba(17, 34, 102, 1) 0%,
    rgba(215, 2, 189, 1) 99%
  );
  background: -webkit-linear-gradient(
    156deg,
    rgba(17, 34, 102, 1) 0%,
    rgba(215, 2, 189, 1) 99%
  );
  background: linear-gradient(
    156deg,
    rgba(17, 34, 102, 1) 0%,
    rgba(215, 2, 189, 1) 99%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#112266",endColorstr="#d702bd",GradientType=1);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.box {
  position: absolute;
  width: 100px;
  height: 100px;
  background-color: blue;
}
.wrapper {
  position: relative;
  width: 400px;
  height: 400px;
  border: 3px solid red;
}
.btn-block {
  padding: 10px;
  background-color: grey;
}
button {
  margin-bottom: 10px;
  margin-top: 10px;
  width: 100px;
  height: 40px;
  background-color: yellow;
  border: none;
  transition: 0.3s all;
}

.blue {
  background-color: blue;
}

.red {
  background-color: red;
}
